@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comic+Sans+MS");

html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

body {
    display: grid;
    height: 100vh;
    place-items: center;
}

a {
    text-decoration: none;
}

/* .page__main {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
} */

.buttons {
    display: flex;
    column-gap: 3rem;
    padding: 2rem;
}

.btn-bir:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn-bir {
    background-image: linear-gradient(to right,
            #314755 0%,
            #26a0da 51%,
            #314755 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-timeline {
    background-image: linear-gradient(to right,
            #da22ff 0%,
            #9733ee 51%,
            #da22ff 100%);
}

.btn-timeline {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-timeline:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn-gallery {
    background-image: linear-gradient(to right,
            #02aab0 0%,
            #00cdac 51%,
            #02aab0 100%);
}

.btn-gallery {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-gallery:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.cover {
    background-color: #9733ee;
    width: 200px;
    height: 200px;

    box-shadow: 0 0 30px #eee;
    position: absolute;
    margin: 200px 0 0 -490px;
    left: calc(50% - 100px);

    border-radius: 120px;
    border: 5px solid rgb(255, 17, 0);
}




/* ========================================================= */
/* ========================================================= */
/* css balloon */
:root {
    --balloon1-bg-color: #eaeaeae6;
    --balloon2-bg-color: #e8dab2e6;
    --balloon3-bg-color: #dd6e42e3;
    --balloon4-bg-color: #4f6d7ad6;
    --balloon5-bg-color: #eaeaeae6;
    --bg-color: #c0d6df;

    --balloon-anim-1: balloon1 15s ease infinite;
    --balloon-anim-2: balloon2 5s ease infinite;
    --balloon-anim-3: balloon3 10s ease infinite;
    --balloon-anim-4: balloon4 5s ease infinite;
    --balloon-anim-5: balloon5 15s ease infinite;
    --balloon-anim-6: balloon7 5s ease infinite;
}

.happ{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -45px;
}

.habi{
    position: relative;


}

.happy,
.birthday {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.name {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 80px;
    color: #4f6d7a;
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
}

.balloon {
    width: 56px;
    height: 80px;
    margin: 10px;
    border-radius: 80%;
    position: relative;
}

.balloon::after {
    position: absolute;
    bottom: -16px;
    left: 31px;
    content: "\2713";
    transform: rotate(180deg);
    font-weight: bold;
    font-size: 16px;
}

.happy .balloon::before,
.birthday .balloon::before {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 10px);
    font-size: 30px;
    color: #4f6d7a;
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    /* font-family: "Sacramento", cursive; */
}

.happy .balloon:nth-child(1)::before {
    content: "H";
}

.happy .balloon:nth-child(2)::before {
    content: "A";
}

.happy .balloon:nth-child(3)::before {
    content: "P";
}

.happy .balloon:nth-child(4)::before {
    content: "P";
}

.happy .balloon:nth-child(5)::before {
    content: "Y";
}

.birthday .balloon:nth-child(1)::before {
    content: "B";
}

.birthday .balloon:nth-child(2)::before {
    content: "I";
}

.birthday .balloon:nth-child(3)::before {
    content: "R";
}

.birthday .balloon:nth-child(4)::before {
    content: "T";
}

.birthday .balloon:nth-child(5)::before {
    content: "H";
}

.birthday .balloon:nth-child(6)::before {
    content: "D";
}

.birthday .balloon:nth-child(7)::before {
    content: "A";
}

.birthday .balloon:nth-child(8)::before {
    content: "Y";
}

@keyframes balloon1 {

    0%,
    100% {
        transform: translate(0, 0) rotate(-10deg);
    }

    50% {
        transform: translate(0, 30px) rotate(10deg);
    }
}

@keyframes balloon2 {

    0%,
    100% {
        transform: translate(-20px, 40px) rotate(15deg);
    }

    50% {
        transform: translate(0, -10px) rotate(-5deg);
    }
}

@keyframes balloon3 {

    0%,
    100% {
        transform: translate(-30px, 0) rotate(-10deg);
    }

    50% {
        transform: translate(0, -20px) rotate(20deg);
    }
}

@keyframes balloon4 {

    0%,
    100% {
        transform: translate(-10px, 0) rotate(0deg);
    }

    50% {
        transform: translate(0, 20px) rotate(30deg);
    }
}

@keyframes balloon5 {

    0%,
    100% {
        transform: translate(10px, 0) rotate(20deg);
    }

    50% {
        transform: translate(0, 30px) rotate(-20deg);
    }
}

@keyframes balloon6 {

    0%,
    100% {
        transform: translate(-10px, 0) rotate(0deg);
    }

    50% {
        transform: translate(0, 20px) rotate(30deg);
    }
}

@keyframes balloon7 {

    0%,
    100% {
        transform: translate(0, 0) rotate(15deg);
    }

    50% {
        transform: translate(0, 0) rotate(-15deg);
    }
}

.balloon1 {
    background: var(--balloon1-bg-color);
    box-shadow: inset 10px 10px 10px #c7c3c3e6;
}

.balloon1::after {
    color: var(--balloon1-bg-color);
}

.balloon2 {
    background: var(--balloon2-bg-color);
    box-shadow: inset 10px 10px 10px #d5c7a1;
}

.balloon2::after {
    color: var(--balloon2-bg-color);
}

.balloon3 {
    background: var(--balloon3-bg-color);
    box-shadow: inset 10px 10px 10px #cf6840;
}

.balloon3::after {
    color: var(--balloon3-bg-color);
}

.balloon4 {
    background: var(--balloon4-bg-color);
    box-shadow: inset 10px 10px 10px #4f6d7a;
}

.balloon4::after {
    color: var(--balloon4-bg-color);
}

.balloon5 {
    background: var(--balloon5-bg-color);
    box-shadow: inset 10px 10px 10px #cbc8c8;
}

.balloon5::after {
    color: var(--balloon5-bg-color);
}

.balloon-anim1 {
    animation: var(--balloon-anim-1);
}

.balloon-anim2 {
    animation: var(--balloon-anim-2);
}

.balloon-anim3 {
    animation: var(--balloon-anim-3);
}

.balloon-anim4 {
    animation: var(--balloon-anim-4);
}

.balloon-anim5 {
    animation: var(--balloon-anim-5);
}

.balloon-anim6 {
    animation: var(--balloon-anim-6);
}



/* countdown */
#countdown {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #53a0fd, #01c2f3);
}

.btn-click {
    position: absolute;
    top: 30%;
    left: 40%;
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

/* css nút click */
:root {
    --delay: 0;
    --duration: 800ms;
    --iterations: 1;
}

.reveal-text,
.reveal-text::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    position: relative;
    font-size: 10vw;
    animation-name: clip-text;
    white-space: nowrap;
    cursor: default;
}

.reveal-text::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffff;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: text-revealer;
}

@keyframes clip-text {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes text-revealer {

    0%,
    50% {
        transform-origin: 0 50%;
    }

    60%,
    100% {
        transform-origin: 100% 50%;
    }

    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

@use postcss-preset-env {
    stage: 0;

}

/*  */

.btn-click:hover {
    color: #01c2f3;
    box-shadow: inset 270px 0 0 0 rgb(255, 255, 255);
}


.btn-click {
    color: rgb(255, 255, 255);
    font-family: "Sacramento", cursive;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.5;
    text-decoration: none;
}

#wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 360px;
    filter: url('#filter');

}

.c,
.o,
.u,
.n,
.t {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    background: #fff;
    border-radius: 20px;
    content: '';
    transform: rotate(360deg);
    transition: all 0.5s cubic-bezier(0.95, 0.01, 0, 1);
    box-shadow: 0 2px 10px rgba(255, 255, 255, .5);
}

.c {
    transition-delay: 0.05s;
}

.o {
    transition-delay: 0.1s;
}

.u {
    transition-delay: 0.15s;
}

.n {
    transition-delay: 0.2s;
}

.t {
    transition-delay: 0.25s;
}

/*-------------------- Nine --------------------*/
.wrap-9 .c {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}

.wrap-9 .o {
    width: 60px;
    height: 240px;
    left: 240px;
    top: 60px;
    transform: rotate(180deg);
}

.wrap-9 .u {
    width: 150px;
    height: 60px;
    left: 120px;
    top: 270px;
    transform: rotate(180deg);
}

.wrap-9 .n {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 150px;
}

.wrap-9 .t {
    width: 60px;
    height: 120px;
    left: 60px;
    top: 60px;
    transform: rotate(180deg);
}

/*-------------------- Eight --------------------*/
.wrap-8 .c {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 150px;
    transform: rotate(180deg);
}

.wrap-8 .o {
    width: 60px;
    height: 240px;
    left: 60px;
    top: 60px;
}

.wrap-8 .u {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 270px;
    transform: rotate(180deg);
}

.wrap-8 .n {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}

.wrap-8 .t {
    width: 60px;
    height: 240px;
    left: 240px;
    top: 60px;
    transform: rotate(180deg);
}

/*-------------------- Seven --------------------*/
.wrap-7 .c {
    width: 140px;
    height: 60px;
    left: 190px;
    top: 70px;
    transform: rotate(-65deg);
}

.wrap-7 .o {
    width: 190px;
    height: 60px;
    left: 100px;
    top: 210px;
    transform: rotate(-65deg);
}

.wrap-7 .u {
    width: 0;
    height: 0;
    left: 90px;
    top: 270px;
}

.wrap-7 .n {
    width: 0;
    height: 0;
    left: 150px;
    top: 150px;
}

.wrap-7 .t {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}

/*-------------------- Six --------------------*/
.wrap-6 .c {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 150px;
    transform: rotate(180deg);
}

.wrap-6 .o {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 270px;
    transform: rotate(180deg);
}

.wrap-6 .u {
    width: 60px;
    height: 240px;
    left: 60px;
    top: 60px;
}

.wrap-6 .n {
    width: 60px;
    height: 120px;
    left: 240px;
    top: 180px;
    transform: rotate(180deg);
}

.wrap-6 .t {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}

/*-------------------- Five --------------------*/
.wrap-5 .c {
    width: 210px;
    height: 60px;
    left: 60px;
    top: 30px;
    transform: rotate(180deg);
}

.wrap-5 .o {
    width: 210px;
    height: 60px;
    left: 60px;
    top: 270px;
    transform: rotate(180deg);
}

.wrap-5 .u {
    width: 60px;
    height: 120px;
    left: 240px;
    top: 180px;
    transform: rotate(180deg);
}

.wrap-5 .n {
    width: 60px;
    height: 140px;
    left: 60px;
    top: 60px;
}

.wrap-5 .t {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 150px;
}

/*-------------------- Four --------------------*/
.wrap-4 .c {
    width: 60px;
    height: 303px;
    left: 210px;
    top: 30px;
    transform: rotate(180deg);
}

.wrap-4 .o {
    width: 60px;
    height: 60px;
    left: 244px;
    top: 211px;
    transform: rotate(180deg);
}

.wrap-4 .u {
    width: 60px;
    height: 81px;
    left: 60px;
    top: 180px;
    transform: rotate(180deg);
}

.wrap-4 .n {
    width: 60px;
    height: 208px;
    left: 110px;
    top: 9px;
    transform: rotate(45deg);
}

.wrap-4 .t {
    width: 210px;
    height: 60px;
    left: 57px;
    top: 210px;
}

/*-------------------- Three --------------------*/
.wrap-3 .c {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 150px;
    transform: rotate(180deg);
}

.wrap-3 .o {
    width: 60px;
    height: 110px;
    left: 240px;
    top: 60px;
    transform: rotate(180deg);
}

.wrap-3 .u {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 270px;
    transform: rotate(180deg);
}

.wrap-3 .n {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}

.wrap-3 .t {
    width: 60px;
    height: 110px;
    left: 240px;
    top: 190px;
    transform: rotate(-180deg);
}

/*-------------------- Two --------------------*/
.wrap-2 .c {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}

.wrap-2 .o {
    width: 60px;
    height: 130px;
    left: 240px;
    top: 60px;
    transform: rotate(180deg);
}

.wrap-2 .u {
    width: 210px;
    height: 60px;
    left: 90px;
    top: 270px;
    transform: rotate(180deg);
}

.wrap-2 .n {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 150px;
}

.wrap-2 .t {
    width: 60px;
    height: 160px;
    left: 60px;
    top: 170px;
    transform: rotate(180deg);
}

/*-------------------- One --------------------*/
.wrap-1 .c {
    width: 160px;
    height: 60px;
    left: 101px;
    top: 57px;
    transform: rotate(-36deg);
}

.wrap-1 .o {
    width: 0;
    height: 0;
    left: 240px;
    top: 60px;
    transform: rotate(180deg);
}

.wrap-1 .u {
    width: 0;
    height: 0;
    left: 90px;
    top: 270px;
}

.wrap-1 .n {
    width: 60px;
    height: 140px;
    left: 193px;
    top: 50px;
    transform: rotate(180deg);
}

.wrap-1 .t {
    width: 60px;
    height: 160px;
    left: 193px;
    top: 174px;
    transform: rotate(-180deg);
}

/*-------------------- Zero --------------------*/
.wrap-0 .c {
    width: 0;
    height: 0;
    left: 90px;
    top: 150px;
    transform: rotate(180deg);
}

.wrap-0 .o {
    width: 60px;
    height: 240px;
    left: 60px;
    top: 60px;
}

.wrap-0 .u {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 270px;
    transform: rotate(180deg);
}

.wrap-0 .n {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}

.wrap-0 .t {
    width: 60px;
    height: 240px;
    left: 240px;
    top: 60px;
    transform: rotate(180deg);
}


.layerMask {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    background-size: cover;
    background-repeat: none;
}

.modal{
    background-color: #000000;
    margin-top: 900px;
    /* z-index: 9999999999999; */
}

/* css popup */

* {
	margin: 0;
	padding: 0;
}

.modal-container{
    background-color: #26a0da;
   margin: -500px 0 0 0;
    z-index: 99;
    opacity: 1;
}
.modal {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.6);
}

 .modal_inner {
	width: 400px;
	position: relative;
	top: 10%;
	margin: auto;
	background: white;
	border-radius: 5px;
	overflow: hidden;
	animation: modalShow .9s backwards;
}


 .modal_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	color: #DC3545;
	border-bottom: 1px solid #acabab74;

}

.modal_body {
	padding: 15px;
	border-bottom: 1px solid #acabab74;
}

.modal_body h2 {
	color: #e26e70;
	margin-bottom: 10px;
}

 .modal_footer {
	padding: 15px;
	text-align: right;
}

 .modal_footer button {
	padding: 10px 20px;
	color: white;
	background: #e26e70;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
}

/* .layerMask .hide {
	display: none;
} */

@keyframes modalShow {
	from{
		top: -200px;
		opacity: 0;
	}

	to{
		top: 10%;
		opacity: 1;
	}
}

/* hết css popup */